services:
  webapp:
    container_name: like_the_certain_board
    privileged: true
    build:
      context: ./docker/webapp
      dockerfile: Dockerfile
      network: host
    restart: "no"
    entrypoint: "/root/.roswell/local-projects/like-the-certain-board/dockerRun.sh"
    depends_on:
      - db
    expose:
      - 8888
    volumes:
      - ./:/root/.roswell/local-projects/like-the-certain-board/
      - ../like_the_certain_board_dirs/dat/:/roswell/dat/
      - ../like_the_certain_board_dirs/kakolog/html/:/roswell/kakolog/html/
      - ../like_the_certain_board_dirs/kakolog/dat/:/roswell/kakolog/dat/
      - ../like_the_certain_board_dirs/settings/:/roswell/settings/

  db:
    image: postgres:17
    container_name: postgresql_docker
    build:
      context: ./docker/postgresql
      dockerfile: Dockerfile
    restart: "no"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user_pass
      POSTGRES_DB: mysite
    expose:
      - 5432
    ports:
      - 5432:5432
    volumes:
      - ./docker/postgresql/sql:/docker-entrypoint-initdb.d
      - ./docker/postgresql/conf:/etc/postgresql/postgresql.conf
      - db-data-store:/var/lib/postgresql/data
      - db-log-store:/log
      
  nginx:
    image: nginx:latest
    container_name: nginx_on_docker
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    restart: "no"
    depends_on:
      - webapp
    ports:
      - 8080:80
      - 8081:443
    volumes:
      - ./docker/nginx/conf:/etc/nginx/conf.d/
      - ../like_the_certain_board_dirs/keys:/etc/keys/
      - ../like_the_certain_board_dirs/nginx_log:/var/log/nginx/

volumes:
  db-data-store:
  db-log-store:
