{% extends "layouts/default.html" %}
{% block title %}やる夫Lisp板{% endblock %}
{% block content %}
<div id="main">
    {{ here }}
    <form action="/test/bbs.cgi" method="post">
        <label for="subject">スレッドタイトル</label>
        <input name="subject" type="text" value="" required/>
        
        <label for="FROM">名前:</label>
        <input name="FROM" type="text" value="名無しさん" required/>

        <label for="mail">メールアドレス</label>
        <input name="mail" type="text" value=""/>
        
        <label for="MESSAGE">本文:</label>
        <textarea cols="30" id="" name="MESSAGE" rows="10" required></textarea>

        <input name="bbs" type="hidden" value="{{ bbs }}"/>
        <input name="time" type="hidden" value="{{ time }}"/>
        <input name="submit" type="hidden" value="新規スレッド作成"/>
        
        <button type="submit">新規スレッド作成</button>
    </form>
    <table id="thread-list">
        <tr>
            <th>スレ名</th>
            <th>作成日時</th>
            <th>更新日時</th>
            <th>レス数</th>
        </tr>
        {% for thread in threads %}
            <tr>
                <td class="cell-spacing"><a href="/test/read.cgi/{{ bbs }}/{{ thread.unixtime }}">{{ thread.title }}</a></td>
                <td class="cell-spacing">{{ thread.create-date }}</td>
                <td class="cell-spacing">{{ thread.last-modified-date }}</td>
                <td class="cell-spacing">{{ thread.res-count }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
