<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
</head>
<body>
    <header>
        {% if is-login %}
        <h2>ログイン済み</h2>
        <form action="/{{ board-name }}/api/user" methods="post">
            <input name="is-logout" type="hidden" value="is-logout"/>
            <button>ログアウト</button>
        </form>
        {% endif %}
    </header>
    
  {% block content %}{% endblock %}
</body>
</html>
