@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', 'Yu Gothic Medium', YuGothic, Meiryo, 'MS PGothic', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    height: 100%;
    background-color: #EFEFEF;
}

#thread-content-title {
    margin-left: 1rem;
}

#time-restrict {
    text-align: center;
}

#board-list {
    text-align: center;
}

#board-list h1 {
    margin-bottom: 1rem;
}

#kakolog-thread h1 {
    padding-bottom: 2rem;
    padding-left: 1rem;
}

#kakolog-thread dd {
    font-family: Mona, Monapo, IPAMonaPGothic, "MS PGothic", "MS Pゴシック", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

#kakolog-list-contents h1 {
    text-align: center;
}

#kakolog-list-contents {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

h1#title {
    padding-bottom: 2rem;
    padding-left: 1rem;
}

h1#alert-title {
    padding-bottom: 2rem;
}


#time-restrict {
    margin-top: 1rem;
}

#footer {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color: #EFEFEF;
    display: flex;
    justify-content: left;
}

#footer a {
    padding-right: 0.75rem;
}

footer#footer nav ul {
    list-style: none;
}

.nav-item-in-footer {
    margin-right: 1rem;
}

dl {
    padding-left: 1rem;
    white-space: nowrap;
}

dd.thread_text {
    font-family: Mona, Monapo, IPAMonaPGothic, "MS PGothic", "MS Pゴシック", sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 1.5rem;
}

a:link {
  color: blue;
}
a:visited {
  color: red;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

div#main {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: nowrap;
}

/* div#main *:nth-child(1n) { */
/*     margin-left: 1rem; */
/* } */

td.cell-spacing {
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.25rem;
}

tr.row-border {
    border: solid 0.1rem;
}

/* tr:nth-child(2n) { */
/*     background: rgba(0,0,255,0.1); */
/* } */

/* tr:nth-child(3n) { */
/*     background: rgba(0,0,0,0.1); */
/* } */


table th, table td {
    border: solid 0.1rem black;
}

table#thread-list {
    border-collapse: collapse;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 0.1em;
}

.form {
    display: block;
    width: 98vw;
}

h2.form {
    padding-top: 2rem;
    padding-left: 1rem;
}

textarea.form {
    vertical-align: top;
    padding: 0.25rem;
    font-family: Mona, Monapo, IPAMonaPGothic, "MS PGothic", "MS Pゴシック", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

ul.form li.form {
    list-style: none;
}

li.form {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.form li:nth-of-type(1n) {
    margin-left: 1em;
}
 

label.form {
    order: 1;
}

input.form, textarea.form {
    order: 2;
    flex: 1 1;
}

nav {
}

nav ul {
    display: float;
    overflow: hidden;
}

nav li {
    float: right;
    margin-right: 1.5rem;
    list-style: none;
}

header {
    padding-bottom: 1rem;
    background-color: #EFEFEF;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
}

.form-title {
    padding-top: 4rem;
    padding-left: 1rem;
}
