@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', 'Yu Gothic Medium', YuGothic, Meiryo, 'MS PGothic', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

h1#alart-title {
    margin-bottom: 2rem;
}

h4#thread-content-title {
    margin-top: 2rem;
    margin-left: 1rem;
}

#time-restrict {
    margin-top: 1rem;
}

#footer {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#footer a {
    padding-right: 0.75rem;
}

footer#footer nav ul {
    list-style: none;
}

.nav-item-in-footer {
    margin-right: 1rem;
}

dl {
    margin-left: 1rem;
    white-space: nowrap;
}

dd.thread_text {
    font-family: Mona, Monapo, IPAMonaPGothic, "MS PGothic", "MS Pゴシック", sans-serif;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

a:link {
  color: blue;
  /*text-decoration: none;*/
}
a:visited {
  color: red;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: nowrap;
}

td.cell-spacing {
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.25rem;
}

tr.row-border {
    border: solid 0.1rem;
}

table {
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

table th, table td {
    border: solid 0.1rem black;
}

table#thread-list {
    border-collapse: collapse;
}

form {
    margin-top: 1rem;
    margin-right: 1rem;
}

ul.form li.form {
    list-style: none;
}
 
li.form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 1em;
}

label.form {
    margin-top: 0.5rem;
    margin-right: 5rem;
    order: 1;
}

input.form, textarea.form {
    order: 2;
    flex: 1 1;
}

nav {
}

nav ul {
    display: float;
    overflow: hidden;
}

nav li {
    float: right;
    margin-right: 1.5rem;
    list-style: none;
}

header {
    margin-bottom: 1rem;
}
