@charset "UTF-8";

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

dd#thread {
    font-family: Mona, Monapo, IPAMonaPGothic, "MS PGothic", sans-serif;
    font-size: 16px;
}

a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: #485270;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

#main {
  text-align: left;
}

td.cell-spacing {
    padding-right: 2rem;
    padding-top: 0.5rem;
}

tr.row-border {
    border: solid 0.1rem;
}

table th, table td {
    border: solid 0.1rem black;
}

table#thread-list {
    border-collapse: collapse;
}
