{% extends "layouts/default.html" %}
{% block title %}やる夫Lisp板{% endblock %}
{% block content %}
<div id="main">
    {% if is-login %}
    <h2>ログイン済み</h2>
    {% endif %}
    <h1 style="text-align: center;">{{ board-name }}</h1>
    <h4 id="thread-content-title">スレッド一覧</h4>
    <table id="thread-list">
        <tr>
            <th>スレ名</th>
            <th>作成日時</th>
            <th>更新日時</th>
            <th>レス数</th>
            <th>最大行</th>
        </tr>
        {% for thread in threads %}
            <tr>
                <td class="cell-spacing"><a href="/test/read.cgi/{{ bbs }}/{{ thread.unixtime }}">{{ thread.title }}</a></td>
                <td class="cell-spacing">{{ thread.create-date }}</td>
                <td class="cell-spacing">{{ thread.last-modified-date }}</td>
                <td class="cell-spacing">{{ thread.res-count }}</td>
                <td class="cell-spacing">{{ thread.max-line }}</td>
            </tr>
        {% endfor %}
    </table>
    <h4 style="margin-top: 4em;">新規スレッド作成フォーム</h4>
    <form action="/test/bbs.cgi" method="post">
        <ul class="form">
            <li class="form">
                <label for="subject" class="form">スレッドタイトル</label>
                <input name="subject" type="text" value="" class="form" required/>
            </li>
            <li class="form">
                <label for="FROM" class="form">名前:</label>
                <input name="FROM" type="text" value="名無しさん" class="form" required/>
            </li>

            <li class="form">
                <label for="mail" class="form">メールアドレス</label>
                <input name="mail" type="text" value="" class="form"/>
            </li>
            <li class="form">
                <label for="max_line" class="form">最大行指定（＊1001〜10000まで有効．それより下を指定した場合，1000になり，超えた場合は10000として扱います．）</label>
                <input name="max_line" type="number" value="1000" class="form"/>
            </li>            
            <li class="form">
                <label for="MESSAGE" class="form">本文:</label>
                <textarea cols="60" id="" name="MESSAGE" rows="10" class="form" required></textarea>
            </li>
            <li class="form">
                <button type="submit">新規スレッド作成</button>
            </li>
        </ul>
        <input name="bbs" type="hidden" value="{{ bbs }}"/>
        <input name="time" type="hidden" value="{{ time }}"/>
        <input name="submit" type="hidden" value="新規スレッド作成"/>
    </form>

</div>
{% endblock %}
