{% extends "layouts/default.html" %}
{% block title %}やる夫Lisp板{% endblock %}
{% block content %}
<div id="main">
    <h1>投稿確認</h1>
    <p>当サイトは一切の責任を負いません。そのことを了承するならば送信ボタンを押してください</p>
    <form action="/test/bbs.cgi" method="post">
        <input name="FROM" type="hidden" value="{{ from }}"/>
        <input name="mail" type="hidden" value="{{ mail }}"/>
        <input name="bbs" type="hidden" value="{{ bbs }}"/>
        <input name="key" type="hidden" value="{{ key }}"/>
        <input name="time" type="hidden" value="{{ time }}"/>
        <input name="submit" type="hidden" value="{{ purpose }}"/>
        <input name="MESSAGE" type="hidden"></input>
        <button type="submit">送信</button>
    </form>
</div>
{% endblock %}
