{% extends "layouts/default.html" %}
{% block title %}やる夫Lisp板{% endblock %}
{% block content %}
<div id="main">

    <h1>ログインページ</h1>

    {% if is-login %}
    {% if is-login == "logged-in" %}
    <h1>ログイン済みです</h1>
    {% endif %}
    {% if is-login == "failed" %}
    <h1>ログインに失敗しました</h1>
    {% endif %}
    {% endif %}
    
    <form action="/{{ bbs }}/api/user" method="post">
        <ul class="form">
            <li class="form">
                <label for="user_name" class="form">User Name:</label>
                <input name="user_name" type="text" pattern="^[a-zA-Z0-9]+" class="form"/>
            </li>
            <li class="form">
                <label for="password" class="form">Your Password:</label>
                <input name="password" type="password" pattern="^[a-zA-Z0-9]+" class="form"/>
            </li>
            <input name="is_login" type="hidden" value="true"/>
            <li class="form">
                <button type="submit">送信</button>
            </li>
        </ul>
    </form>

    <footer id="footer">
        <nav>
            <ul>
                <li><a href="/{{ bbs }}">板に戻る</a></li>
            </ul>
        </nav>
    </footer>
</div>
{% endblock %}
