{% extends "layouts/default.html" %}
{% block title %}やる夫Lisp板{% endblock %}
{% block content %}
<div id="main">
    <h1 style="margin-bottom: 2rem;">{{ title }}</h1>
    {% for i in thread %}
    <dl id="{{ forloop.counter }}">
        {% if is-login %}
        <form action="/{{ bbs }}/api/line" method="post">
            <input name="line" type="hidden" value="{{ forloop.counter }}"/>
            <input name="key" type="hidden" value="{{ key }}"/>
            <button name="submit" type="submit">{{ forloop.counter }}番目の行を削除</button>
        </form>
        {% endif %}
        <dt>
            {{ forloop.counter }} 名前：<font color="#008800"><b>{{ i.name | safe }}</b>{{ i.trip }}</font>[{{ i.email }}] 投稿日：{{ i.date }} {{ i.id }}
        </dt>
        <dd class="thread_text">
            {{ i.text | safe }}
        </dd>
    </dl>
    {% endfor %}
    <form action="/test/bbs.cgi" method="post">
        <ul class="form">
            <li class="form">
                <label for="FROM" class="form">名前：</label>
                <input name="FROM" type="text" value="名無しさん" class="form"/>
            </li>
            <li class="form">
                <label for="mail" class="form">メール：</label>
                <input name="mail" type="text" value="" class="form"/>
            </li>
            <li class="form">
                <label for="MESSAGE" class="form">本文：</label>
                <textarea cols="60" name="MESSAGE" rows="10" class="form" required></textarea>
            </li>
            <li class="form">
                <button type="submit">送信</button>
            </li>
        </ul>

        <input name="bbs" type="hidden" value="{{ bbs }}"/>
        <input name="key" type="hidden" value="{{ key }}"/>
        <input name="time" type="hidden" value="{{ time }}"/>
        <input name="submit" type="hidden" value="書き込む"/>

    </form>

    <footer id="footer">
        <nav>
            <ul>
                <li><a href="/{{ bbs }}">板に戻る</a></li>
            </ul>
        </nav>
    </footer>
</div>
{% endblock %}
